.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: fixed;
}

.table__header {
  background-color: #f2f2f2;
  text-align: left;
}

.table__row {
  border-bottom: 1px solid #ddd;
}

.table__row:last-child {
  border-bottom: none;
}

.table__cell {
  padding: 8px 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
