* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --snow: #fcf7f8ff;
  --pale-slate: #ced3dcff;
  --lilac-ash: #aba9c3ff;
  --tech-blue: #275dadff;
  --blue-slate: #5b616aff;
}
